/*MAIN VIEW*/

.main-view {
    height: 100%;
    padding: 2em;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.main-view-title {
	text-transform: uppercase;
	font-weight: 700;
}