
.sub-navigation {
	width: 100%;
	height: auto;
}
.sub-navigation-li {
	float: left;
	padding: .75em;
	margin-right: 1em;
	margin-top: .5em;
	background: #ccc;
	color: white;
	.nav-product-image {
		background: white;
		height: 10em;
		width: 10em;
		margin: 0 auto;
		position: relative;
	}
	&.true {
		.nav-product-image {
			height: 10em;
		}
	}
	&.override {
		.nav-product-image {
			height: 0em;
		}
	}
}

.sub-view {
	height: 100%;
	width: 100%;
	clear: both;
}

.subcategory-container {
	float: left;
	position: relative;
	border: 1px solid #ccc;
	margin: 0 .5em;
	padding: .5em;
}
.subcategory-title {
	font-weight: 700;
}

.subview-category {
    border: 1px solid #ccc;
    width: auto;
    height: auto;
    min-height: 10em;
    position: relative;
    float: left;
    margin-right: 2em;
    margin-top: .5em;
    padding: 1em;
}
.product-image {
	height: 10em;
	width: 10em;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
}

td, th {
	width: auto;
	margin: 0 1em;
	padding: 0 1em !important;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	&:last-child {
		border-right: none;
	}

}